@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #ff0000 21.43%,
    #ff3333 50.63%,
    #ff9999 100%,
    #ffcccc 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 255, 255, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #ffcccc 21.43%,
    #ff9999 50.63%,
    #ff3333 100%,
    #ff0000 117.04%
  );
}
